/*********************tag selector******/
h1{
  color: blueviolet;
  font-size: 100px;
}
h1:hover {
      color: red;
      font-size: 100px;
  }

img:hover{
    background-color:red;
    background-size: 200;
}

/**************************class selctor****************/
.bacon{
  background-color: green;
}
.curry{
  border-color: beige;
  background-color: blue;
}
.circular{
  border-radius: 10%;
 
}
/**************************id selctor****************/

#header:hover
{
  color: blue;
  font-size: 100px;
}